@model int

<link href="~/css/CartStyle3.css" rel="stylesheet">

<div class="container">
    <img class="logo" src="/images/logo.png" alt="eStore Logo">

    <div class="title">Order Confirmation</div>
    <div class="message">
        Thank you for your order! It will be processed shortly.
    </div>
    <div class="order-id">Order ID: @Model</div>
    <img src="/images/order-confirmation.png" alt="Order Confirmation Image">
</div>
